
<center>
    <a href="/">홈</a> <br>
    
    <hr>
    
    
    <br>
    
    <% @every_post.each do |post| %>
        <% if @every_post.first.id==post.id%>
            이번 <%=post.id%> 회차 로또 당첨 번호 : 
            <img src ="/assets/<%=post.num1%>.jpg"/>
            <img src ="/assets/<%=post.num2%>.jpg"/>
            <img src ="/assets/<%=post.num3%>.jpg"/>
            <img src ="/assets/<%=post.num4%>.jpg"/>
            <img src ="/assets/<%=post.num5%>.jpg"/>
            <img src ="/assets/<%=post.num6%>.jpg"/>
        <hr>
        내 번호 : <%=@num1%> <%=@num2%> <%=@num3%> <%=@num4%> <%=@num5%> <%=@num6%> 
        <br>
        <%=@count%> 개 맞았습니다. : <%=@rNum%>
        <hr>
        
        
        <% else %>
            이전 <%=post.id%> 회차 로또 당첨 번호 <br>
            <img src ="/assets/<%=post.num1%>.jpg"/>
            <img src ="/assets/<%=post.num2%>.jpg"/>
            <img src ="/assets/<%=post.num3%>.jpg"/>
            <img src ="/assets/<%=post.num4%>.jpg"/>
            <img src ="/assets/<%=post.num5%>.jpg"/>
            <img src ="/assets/<%=post.num6%>.jpg"/>
        <%end%>
        <br>
    <%end%>
<center>